doctype html
html(lang='en')
  head
    title= Blog
    script.
      var domain = !{JSON.stringify(domain)};
    link(rel='stylesheet' href=`${domain}/assets/main.css`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C700%7COswald%7CEB+Garamond%7CRoboto+Slab%7CKaushan+Script&ver=5.3.2')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    #blog
      script(src=`${domain}/assets/main.js`)

