doctype html
html(lang='en')
  head
    title= Blog
    script.
      var domain = !{JSON.stringify(domain)};
    link(rel='stylesheet' href=`${domain}/assets/main.css`)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    // The core Firebase JS SDK is always required and must be listed first
    script(src='https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js')
    //
      TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries
    script(src='https://www.gstatic.com/firebasejs/7.8.0/firebase-analytics.js')
    #blog
      script(src=`${domain}/assets/main.js`)

