doctype html
html(lang='en')
  head
    title= Blog
    script.
      var domain = !{JSON.stringify(domain)};
    link(rel='stylesheet' href=`${domain}/assets/main.css`)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  body
    #blog
      script(src=`${domain}/assets/main.js`)

